* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b12;
    color: white;
}


/* =========================
   NAVBAR
========================= */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(8, 8, 15, 0.95);
    backdrop-filter: blur(12px);
}

.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span,
.footer-logo span {
    color: #ff2d75;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff2d75;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-right input {
    width: 150px;
    padding: 9px 12px;
    border: 1px solid #444;
    border-radius: 20px;
    background: #171722;
    color: white;
    outline: none;
}

.nav-right button {
    border: none;
    background: #ff2d75;
    color: white;
    padding: 9px 13px;
    border-radius: 20px;
    cursor: pointer;
}

.menu-btn {
    display: none;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;

    background:
        linear-gradient(
            90deg,
            #080810 10%,
            rgba(8, 8, 16, 0.8),
            rgba(8, 8, 16, 0.2)
        ),
        linear-gradient(
            135deg,
            #48104c,
            #111122,
            #16163a
        );

    display: flex;
    align-items: center;
    padding: 100px 8%;
}

.hero-content {
    max-width: 650px;
}

.small-title {
    color: #ff2d75;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(45px, 6vw, 80px);
    line-height: 1;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #ff2d75;
}

.hero p {
    color: #c4c4cc;
    line-height: 1.7;
    max-width: 580px;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    padding: 14px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn {
    background: #ff2d75;
    color: white;
}

.secondary-btn {
    background: transparent;
    color: white;
    border: 1px solid #555;
}

.primary-btn:hover,
.secondary-btn:hover {
    transform: translateY(-3px);
}


/* =========================
   SECTIONS
========================= */

.section {
    padding: 90px 8%;
}

.dark-section {
    background: #08080e;
}

.section-title {
    margin-bottom: 40px;
}

.section-title p {
    color: #ff2d75;
    font-size: 13px;
    letter-spacing: 3px;
}

.section-title h2 {
    font-size: 38px;
    margin-top: 8px;
}


/* =========================
   TRENDING CARDS
========================= */

.cards {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #15151f;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card-image {
    height: 250px;
    position: relative;
}

.movie1 {
    background: linear-gradient(
        135deg,
        #25164d,
        #ef2774
    );
}

.movie2 {
    background: linear-gradient(
        135deg,
        #ff512f,
        #dd2476
    );
}

.movie3 {
    background: linear-gradient(
        135deg,
        #11998e,
        #38ef7d
    );
}

.movie4 {
    background: linear-gradient(
        135deg,
        #396afc,
        #2948ff
    );
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #ff2d75;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 11px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 7px;
}

.card-content p {
    color: #999;
    margin-bottom: 15px;
}

.card-content button,
.game-card button {
    border: none;
    background: #ff2d75;
    color: white;
    padding: 9px 15px;
    border-radius: 20px;
    cursor: pointer;
}


/* =========================
   MOVIES
========================= */

.movie-grid {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);
    gap: 25px;
}

.movie-card {
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-8px);
}

.poster {
    height: 380px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.poster1 {
    background: linear-gradient(
        145deg,
        #141e30,
        #243b55
    );
}

.poster2 {
    background: linear-gradient(
        145deg,
        #42275a,
        #734b6d
    );
}

.poster3 {
    background: linear-gradient(
        145deg,
        #0f2027,
        #2c5364
    );
}

.poster4 {
    background: linear-gradient(
        145deg,
        #1f1c2c,
        #928dab
    );
}

.movie-card p {
    color: #ffcc33;
    margin-top: 8px;
}


/* =========================
   MUSIC
========================= */

.music-container {
    max-width: 800px;
}

.music-player {
    background: #15151f;
    padding: 30px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.album-art {
    width: 180px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70px;

    border-radius: 15px;

    background: linear-gradient(
        135deg,
        #ff2d75,
        #7b2ff7
    );
}

.music-info {
    flex: 1;
}

.music-info h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.music-info p {
    color: #999;
}

.progress {
    width: 100%;
    height: 5px;
    background: #333;
    margin: 25px 0;
    border-radius: 10px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: #ff2d75;
    border-radius: 10px;
}

.music-controls {
    display: flex;
    gap: 15px;
    align-items: center;
}

.music-controls button {
    border: none;
    background: #272733;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.music-controls .play-button {
    background: #ff2d75;
    width: 50px;
    height: 50px;
}


/* =========================
   GAMES
========================= */

.game-grid {
    display: grid;
    grid-template-columns:
        repeat(3, 1fr);
    gap: 25px;
}

.game-card {
    background: #15151f;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.game-card:hover {
    transform: translateY(-7px);
}

.game-image {
    height: 200px;
}

.game1 {
    background: linear-gradient(
        135deg,
        #ff416c,
        #ff4b2b
    );
}

.game2 {
    background: linear-gradient(
        135deg,
        #00c6ff,
        #0072ff
    );
}

.game3 {
    background: linear-gradient(
        135deg,
        #8360c3,
        #2ebf91
    );
}

.game-card > div:last-child {
    padding: 20px;
}

.game-card p {
    color: #999;
    margin: 8px 0 15px;
}


/* =========================
   NEWSLETTER
========================= */

.newsletter {
    text-align: center;
    padding: 90px 20px;
    background:
        linear-gradient(
            135deg,
            #3d123f,
            #15152b
        );
}

.newsletter h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.newsletter p {
    color: #aaa;
    margin-bottom: 25px;
}

.subscribe {
    display: flex;
    justify-content: center;
    max-width: 550px;
    margin: auto;
}

.subscribe input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    background: #fff;
    color: #111;
}

.subscribe button {
    padding: 15px 25px;
    border: none;
    background: #ff2d75;
    color: white;
    cursor: pointer;
}


/* =========================
   FOOTER
========================= */

footer {
    background: #050507;
    text-align: center;
    padding: 50px 20px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

footer p {
    color: #888;
}

.socials {
    margin: 25px 0;
}

.socials a {
    color: #aaa;
    margin: 0 10px;
    text-decoration: none;
}

.socials a:hover {
    color: #ff2d75;
}

.copyright {
    font-size: 13px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1000px) {

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .cards {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .movie-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .game-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }
}


@media (max-width: 600px) {

    .navbar {
        padding: 0 5%;
    }

    .nav-right input {
        display: none;
    }

    .hero {
        padding: 100px 6%;
    }

    .hero h1 {
        font-size: 45px;
    }

    .section {
        padding: 70px 6%;
    }

    .cards,
    .movie-grid,
    .game-grid {
        grid-template-columns: 1fr;
    }

    .music-player {
        flex-direction: column;
        text-align: center;
    }

    .subscribe {
        flex-direction: column;
        gap: 10px;
    }

    .subscribe input,
    .subscribe button {
        width: 100%;
    }
}
